.root {
  --json-tree-indent-guide-color-0: red !important;
}

.header {
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-dark-5);

  @mixin where-light {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-1);
  }
}
