.root {
  background-color: var(--mantine-color-dark-8);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-dark-5);
}

.header {
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-dark-5);
}
