.root {
  font-family: var(--json-tree-font-family);
  font-size: var(--json-tree-font-size);
}

.key {
  font-weight: 500;
  font-size: inherit;
  color: var(--json-tree-color-key);
}

.value {
  font-family: var(--json-tree-font-family);
  padding: 2px 6px;
  border-radius: var(--mantine-radius-sm);
  background-color: transparent;
  font-size: inherit;

  &[data-type='string'] {
    color: var(--json-tree-color-string);
  }

  &[data-type='number'] {
    color: var(--json-tree-color-number);
  }

  &[data-type='boolean'] {
    color: var(--json-tree-color-boolean);
  }

  &[data-type='null'],
  &[data-type='undefined'] {
    color: var(--json-tree-color-null);
    font-style: italic;
  }
}

.header {
  background-color: var(--json-tree-header-background-color, inherit);
  padding: var(--mantine-spacing-xs);

  &[data-sticky='true'] {
    position: sticky;
    top: var(--json-tree-header-sticky-offset, 0);
    z-index: 3;
  }
}

.bracket {
  font-weight: 700;
  font-size: inherit;
  font-family: var(--json-tree-font-family);
  color: var(--json-tree-color-bracket);
  user-select: none;
}

.copyButton {
  opacity: 0;
  transition: opacity 0.15s ease;

  &:focus {
    opacity: 1;
  }
}

.root:hover .copyButton {
  opacity: 1;
}
